body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.outline {
  outline: solid 1px black;
}

.display {
  margin: 0 5px;
  width: 5em;
  height: 2em;
  background-color: azure;
  text-align: center;
  vertical-align: middle;
  line-height: 2em;
}

.display-positive {
  color: aliceblue;
  background-color: dodgerblue;
}

.display-negative {
  color: aliceblue;
  background-color: crimson;
}

.counter {
  margin: 5px;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0 5px;
  width: 5em;
  height: 2em;
  font-size: 1em;
  text-align: center;
  border: none;
}
